{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-loop-func": "warn",
        "no-undef": "warn",
        "no-unused-vars": "warn",
        "curly": "warn",
        "quotes": ["warn", "single"],
        "eqeqeq": "warn",
        "strict": ["error", "global"],
        "semi": ["warn"],
        "react/jsx-uses-vars": [2],
        "keyword-spacing": ["warn", {
            "before": true
        }]
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "React": false,
    },
    "plugins": [
        "react"
    ]
}
